@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-primary: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-primary);
    position: relative;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991.98px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767.98px) {
    .container {
        width: 540px;

    }
}

@media (max-width: 575.98px) {
    .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;

    }
}

/* End container */

.main {
    background-image: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

@media (max-width: 575.98px) {
    .main {
        background-position: center;
    }
}

@media (max-width: 411.98px) {
    .main {
        height: 120vh;
    }
}

.main__wrap {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 0 16px 49px 16px;
}

.main__title {
    padding-top: 50px;
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
}

@media (max-width: 575.98px) {
    .main__title {
        padding-top: 30px;
    }
}

.main__box--songs {
    max-height: 520px;
    border-radius: 15px;
    backdrop-filter: blur(9px);
    overflow-y: auto;
}

@media (max-width: 575.98px) {
    .main__box--songs {
        max-height: 500px;
    }
}

.main__box--songs::-webkit-scrollbar {
    width: 0;

}

.main_box--content {
    background: #FFFFFFAB;
    padding: 0 40px;
}

@media (max-width: 575.98px) {
    .main_box--content {
        padding: 0 16px;
    }
}

.main_box--content ul {
    margin: 0;
    padding: 15px 0 10px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_box--content ul li {
    border-bottom: 1px solid #000;
    padding-bottom: 12px;
    display: block;
}

.main_box--content ul li:last-child {
    border-bottom: none;
}

/* custom checkbox */

.main__box-content--form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main__box-content--form label:first-child {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #16035B;
    flex: 1;
}

.main__box-content--form input {
    display: inline-block;
}

/* Ẩn checkbox mặc định */
input[type="checkbox"] {
    display: none;
}

/* Tạo hình dạng cho checkbox tùy chỉnh */
.custom-checkbox {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #16035B;
    border-radius: 50%;
    /* Làm tròn checkbox */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Ẩn icon Font Awesome mặc định */
.custom-checkbox i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #17FF32;
    font-size: 17px;
}

/* Khi checkbox được chọn */
input[type="checkbox"]:checked+.custom-checkbox {
    background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
    border-color: #ffffff;
}

input[type="checkbox"]:disabled+.custom-checkbox {
    background-color: #C2C2C2;
    border-color: #fdfdfd;
}

/* Hiển thị icon khi checkbox được chọn */
input[type="checkbox"]:checked+.custom-checkbox i {
    display: inline-block;
}


/* end custom checkbox */

.main__box--title {
    text-align: center;
    padding: 9px 16px;
    background: linear-gradient(90deg, rgba(255, 6, 230, 0.5) 0%, rgba(29, 4, 255, 0.5) 100%);
    border: 1px solid #FFFFFF;
    border-radius: 15px 15px 0 0;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.main__box--radious-none {
    border-radius: 0;
}

.main__button--vote {
    padding: 14px 28px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: white;
    cursor: pointer;
}

.main__button--vote h2 {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px #5c5b5b;
}

/* alert */
.alert {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    cursor: pointer;
    z-index: 99;
}

.alert--confirm {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 320px;
    background: #FFFFFF7A;
    border: 2px solid #5959591A;
    display: inline-flex;
    flex-direction: column;
    gap: 52px;
    padding: 68px 25px 25px 25px;
    border-radius: 15px;
    z-index: 999;
}


@media (max-width: 991.98px) {
    .alert--confirm {
        top: 25%;
        left: 32%;
    }
}

@media (max-width: 767.98px) {
    .alert--confirm {
        top: 40%;
        left: 24%;
    }
}

@media (max-width: 575.98px) {
    .alert--confirm {
        top: 40%;
        left: 16%;
    }
}

@media (max-width: 541.98px) {
    .alert--confirm {
        top: 24%;
        left: 10%;
        width: 80%;
    }
}


.alert--content {
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px #FA7CF28C;
}

.alert-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert__button--cancel {
    padding: 14px 41px;
    width: 120px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 2px 2px #5c5b5b;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
}

.alert__button--confirm {
    padding: 14px 20px;
    width: 120px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 2px 2px #5c5b5b;
    border: 1px solid #FFFFFF;
    background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
    border-radius: 30px;
    cursor: pointer;
}

[content-ok] {
    text-align: center;
}

[button-ok] {
    width: 100%;
}

[alert-ok],
[alert-confirm] {
    display: none;
}

.alert--error {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.alert--error .alert--error__item {
    background-color: rgba(190, 92, 92, 0.63);
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 20px;
    align-items: center;
}

.alert-close {
    cursor: pointer;
    padding: 5px;
}

.alert-close:hover {
    color: #FF8AF3;
}

/* end alert */

.quantity-vote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 1px solid #FFFFFF;
    padding: 5px;
    border-radius: 8px;
}

[list-performer] li:first-child {
    background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
    background-size: 200% 100%;
    animation: gradient-move 0.5s infinite;
    border-radius: 8px 8px 0 0;
    padding: 5px 0 0 0;
    
}

[list-performer] li:first-child label {
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}