@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-primary: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-primary);
    position: relative;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991.98px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767.98px) {
    .container {
        width: 540px;

    }
}

@media (max-width: 575.98px) {
    .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;

    }
}

/* End container */

.main {
    background-image: url("/assets/images/BackGroupDesktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    background-position: center;
    height: 100vh;
}

@media (max-width: 1023.98px) {
    .main {
        height: 100vh;
    }
}


@media (max-width: 767.98px) {
    .main {
        height: 100vh;
    }
}

@media (max-width: 575.98px) {
    .main {
        background: linear-gradient(135deg, #e2e2e2, #cfcfcf);
        background-image: url("/assets/images/PHONEBACKGROUP.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 376.98px) {
    .main {
        height: 100vh;
    }
}

.main__wrap {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 26px 16px 0px 16px;
    z-index: 9;
    position: relative;
}

@media (max-width: 575.98px) {
    .main__wrap {
        padding: 16px 16px 0px 16px;
        z-index: 9;
        position: relative;
    }
}

.main__logo--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
}

.main__logo {
    display: flex;
    width: 400px;
    height: 100px;
    aspect-ratio: 2/1;
}

@media (max-width: 575.98px) {
    .main__logo {
        display: flex;
        width: 400px;
        height: 80px;
        aspect-ratio: 2/1;
    }
}

.main__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.main__title {
    margin: 0;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #FF8AF3 0%,
            #ffffff 50%,
            #9286FF 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1s linear infinite;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

/* comment demo */
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@media (max-width: 575.98px) {
    .main__title {
        padding-top: 30px;
    }
}

/*End comment demo */

.main__box--songs {
    max-height: 520px;
    border-radius: 15px;
    backdrop-filter: blur(9px);
    overflow-y: auto;
}

@media (max-width: 575.98px) {
    .main__box--songs {
        max-height: 450px;
    }
}

@media (max-width: 411.98px) {
    .main__box--songs {
        max-height: 400px;
    }
}

.main__box--songs::-webkit-scrollbar {
    width: 0;

}

.main_box--content {
    background: #FFFFFFAB;
    padding: 0 40px;
}

@media (max-width: 575.98px) {
    .main_box--content {
        padding: 0 16px;
    }
}

.main_box--content ul {
    margin: 0;
    padding: 15px 0 10px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_box--content ul li {
    border-bottom: 1px solid #000;
    padding-bottom: 12px;
    display: block;
}

/* .main_box--content ul li:last-child {
    border-bottom: none;
} */

/* custom checkbox */

.main__box-content--form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main__box-content--form .item--award {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
}

.main__box-content--form .item--award img {
    width: 100%;
    height: 100%;
}

.performer-item:nth-child(n+2) .item--award {
    display: none;
}

.main__box-content--form label:first-child {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #16035B;
    flex: 1;
}


.main__box-content--form input {
    display: inline-block;
}

/* Ẩn checkbox mặc định */
input[type="checkbox"] {
    display: none;
}

/* Tạo hình dạng cho checkbox tùy chỉnh */
.custom-checkbox {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #16035B;
    border-radius: 50%;
    /* Làm tròn checkbox */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Ẩn icon Font Awesome mặc định */
.custom-checkbox i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #17FF32;
    font-size: 17px;
}

/* Khi checkbox được chọn */
input[type="checkbox"]:checked+.custom-checkbox {
    background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
    border-color: #ffffff;
}

input[type="checkbox"]:disabled+.custom-checkbox {
    background-color: #C2C2C2;
    border-color: #fdfdfd;
}

/* Hiển thị icon khi checkbox được chọn */
input[type="checkbox"]:checked+.custom-checkbox i {
    display: inline-block;
}


/* end custom checkbox */

.main__box--title {
    text-align: center;
    padding: 9px 16px;
    background: linear-gradient(90deg, rgba(255, 6, 230, 0.5) 0%, rgba(29, 4, 255, 0.5) 100%);
    border: 1px solid #FFFFFF;
    border-radius: 15px 15px 0 0;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.main__box--radious-none {
    border-radius: 0;
}

.main__button--vote {
    padding: 14px 28px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: white;
    cursor: pointer;
}

.main__button--vote h2 {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px #5c5b5b;
}

/* alert */
.alert {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    cursor: pointer;
    z-index: 99;
}

.alert--confirm {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 320px;
    background: #FFFFFF7A;
    border: 2px solid #5959591A;
    display: inline-flex;
    flex-direction: column;
    gap: 52px;
    padding: 68px 25px 25px 25px;
    border-radius: 15px;
    z-index: 99999;
}

.alert--link {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px 0px 14px 0px;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 2px 2px #5c5b5b;
    border: 1px solid #FFFFFF;
    background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.alert--link i {
    color: white;
}

@media (max-width: 1025px) {
    .alert--confirm {
        top: 25%;
        left: 32%;
    }
}


@media (max-width: 991.98px) {
    .alert--confirm {
        top: 25%;
        left: 32%;
    }
}

@media (max-width: 767.98px) {
    .alert--confirm {
        top: 40%;
        left: 24%;
    }
}

@media (max-width: 575.98px) {
    .alert--confirm {
        top: 40%;
        left: 16%;
    }
}

@media (max-width: 541.98px) {
    .alert--confirm {
        top: 28%;
        left: 10%;
        width: 80%;
    }
}


.alert--content {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px #FA7CF28C;
}

.alert-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert__button--cancel {
    padding: 14px 41px;
    width: 120px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 2px 2px #5c5b5b;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
}

.alert__button--confirm {
    padding: 14px 20px;
    width: 120px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 2px 2px #5c5b5b;
    border: 1px solid #FFFFFF;
    background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
    border-radius: 30px;
    cursor: pointer;
}

[content-ok] {
    text-align: center;
}

[button-ok] {
    width: 100%;
}

[alert-ok],
[alert-confirm] {
    display: none;
}

.alert--error {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 99999;
}

.alert--error .alert--error__item {
    background-color: rgba(190, 92, 92, 0.63);
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 20px;
    align-items: center;
}

.alert-close {
    cursor: pointer;
    padding: 5px;
}

.alert-close:hover {
    color: #FF8AF3;
}

[content-block] {
    font-size: 32px;
    text-align: center;
}

[button-block] {
    display: block;
}

/* end alert */
.performer--name {
    color: #16035B;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 768.98px) {
    .performer--name {
        color: white;
    }
}

.quantity-vote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #16035B;
    padding: 5px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 768.98px) {
    .main__box--songs-item ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .main__box--songs-item ul li {
        padding: 16px;
        border-radius: 8px;
    }

    [list-performer] li:first-child {
        background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
        background-size: 200% 100%;
        animation: gradient-move 0.5s infinite;
        border-radius: 8px;

    }

    [list-performer] li label:last-child,
    [list-performer] li label:first-child {
        color: white;
    }

    [list-performer] li:first-child label {
        color: white;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
    }
}

.main__title--mobile {
    display: none;
}

.main__title--desktop {
    display: none;
}

@media (max-width: 768.98px) {
    .main__title--mobile {
        display: block;
    }
}

@media (min-width: 768.98px) {
    .main__box--songs {
        max-height: 380px;
    }

    .main__title--desktop {
        display: block;
    }

}

@media (min-width: 768.98px) {
    .main__box--songs-item ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .main__box--songs-item ul li {
        padding: 16px;
        height: 66px;
        border-radius: 8px;
        background: #FFFFFFB8;
        backdrop-filter: blur(12px);
        border: 1px solid #FFFFFF1A
    }

    .main__box--songs-item ul li::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--progress-width);
        height: 100%;
        z-index: -1;
        background: linear-gradient(90deg, #FF8AF3 0%, #9286FF 100%);
        background-size: 200% 100%;
        animation: gradient-move 0.5s infinite;
        border-radius: 8px;
        transition: width 0.1s linear;
    }
}

/* comment demo */

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* End comment demo */


/* congratulations */
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

/* countdown */
.countdown {
    position: absolute;
    display: inline-flex;
    /* padding: 10px 20px; */
    top: 0px;
    right: 0px;
    background: linear-gradient(90deg, rgba(255, 6, 230, 0.5) 0%, rgba(29, 4, 255, 0.5) 100%);
    border: 1px solid #FFFFFF;
    font-weight: 900;
    font-size: 18px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px #FA7CF28C;
}

/* End countdown */